{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <figure class="figure">
                    <img alt="Boredom" class="figure-img img-fluid" src="/static/images/ian-schneider-bored-unsplash.jpg">
                    <figcaption class="figure-caption text-end">Photo by <a href="https://unsplash.com/@goian?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Ian Schneider</a> on <a href="https://unsplash.com/s/photos/about-page?orientation=landscape&utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></figcaption>
                </figure>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1 class="text-center mt-4">About wannakillmytime</h1>
                <p class="text-center">
                    Building this site in order to learn how to build web applications in Go.
                </p>
            </div>
        </div>
    </div>
{{end}}
