{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 align-self-center">
                <h2 class="text-center mt-4 mb-4">Register and get surprised</h2>
                {{$registration := index .Data "registration"}}
                <form id="registration-form" action="/register" method="post" novalidate>
                    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                    <div class="form-floating mb-3">
                        <input id="user-name" type="text" class="form-control {{with .Form.Errors.GetFirst "user-name"}} is-invalid {{end}}" aria-describedby="userNameHelp" name="user-name" value="{{$registration.UserName}}" placeholder="pseudoElement@neededHere.com"
                               required>
                        {{if .Form.Errors.GetFirst "user-name"}}
                            <label for="user-name">{{.Form.Errors.GetFirst "user-name"}}</label>
                        {{else}}
                            <label for="user-name">User name</label>
                        {{end}}
                        <div class="form-text" id="userNameHelp">Enter your user name</div>
                    </div>
                    <div class="form-floating mb-3">
                        <input id="email" type="email" class="form-control {{with .Form.Errors.GetFirst "email"}} is-invalid {{end}}" aria-describedby="emailHelp" name="email" value="{{$registration.Email}}" placeholder="pseudoElement@neededHere.com"
                               required>
                        {{if .Form.Errors.GetFirst "email"}}
                            <label for="user-name">{{.Form.Errors.GetFirst "email"}}</label>
                        {{else}}
                            <label for="user-name">Email</label>
                        {{end}}
                        <div class="form-text" id="emailHelp">Enter your boring email</div>
                    </div>
                    <div class="form-floating mb-3">
                        <input id="password" type="password" class="form-control {{with .Form.Errors.GetFirst "password"}} is-invalid {{end}}" aria-describedby="passwordHelp" name="password" placeholder="pseudoElement@neededHere.com"
                               required>
                        {{if .Form.Errors.GetFirst "password"}}
                            <label for="user-name">{{.Form.Errors.GetFirst "password"}}</label>
                        {{else}}
                            <label for="user-name">Password</label>
                        {{end}}
                        <div class="form-text" id="passwordHelp">Enter your password(<em>admin</em>)</div>
                    </div>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
{{end}}

